<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/customcss/cardsIndex.css">    

<% include ../partials/nav %>



<div class ="container">
   <div id="message">
    

   </div>
   <div class="row trade">
        <h1 class="text-center">Your Trade</h1>
        <div class="col-sm-6 col-md-3 col-md-offset-2 scard">
           <h3 class="text-center"> Requested Card</h3>
           <div class = "thumbnail"  value= "<%- sellerCard[0]._id %>" >
                    <img src="<%- sellerCard[0].img %>" alt="Someone stole the photo!!!">
           </div>
        </div>
        <div class="col-sm-1 col-md-2">
            <p class='btn btn-success btn-lg doTrade'>Trade </p>
        </div>
        <div class="col-sm-6 col-md-3 bcard">
           <h3 class="text-center" id="offer"> Card you offer</h3>

        </div>

        


   </div>
   <div class = "row">
      <h2 class="text-center ">Your Avalaible Cards to Offer</h2>

    <% buyerCards.forEach((card)=> { %>
            <div class = "col-sm-6 col-md-3 cardsFromCollection" >
                <div class = "thumbnail"  value="<%- card._id %>"  >
                    <img src="<%- card.img %>" alt="Someone stole the photo!!!">
                </div>
            
              
            </div>

      <% }) %>
     
   
   
   </div>

</div>








<% include ../partials/footer %>
