<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/customcss/landing.css">    
<% include ./partials/nav %>


<div class="container">	
	<header class="jumbotron">
		<div class="row">
			<div class="col-md-8">
					<h1> A place to trade cards </h1>
			</div>
			<div class="col-md-2 auth">
					<a class="btn btn-lg btn-warning" href="/login">Login</a>
									
			</div>
			<div class="col-md-2 auth">
				<a class="btn btn-lg btn-warning" href="/signup">Signup</a>
								
			</div>
		</div>
	</header>

	
	
	
</div>
<% include ./partials/footer %>
