<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/customcss/cardsIndex.css">    

<% include ../partials/nav %>



<div class ="container">
   <div id="message">
      
   </div>
   <div class = "row">
    <% cards.forEach((card)=> { %>
            <div class = "col-sm-6 col-md-3" >
                <div class = "thumbnail" >
                    <img src="<%- card.img %>" alt="Someone stole the photo!!!">
                </div>
            
               <div class = "caption">
                  <h3><%- card.name %></h3>
                  <p><%- card.flavor %></p>
                    <% if (currentUser && String(currentUser._id) !== String(profile._id)) { %>
                  <p>
                     <a href = "#" class = "btn btn-success" role = "button">
                        Request trade
                     </a> 
                  </p>
                   <% } %>
                   <% if(currentUser && String(currentUser._id) === String(profile._id)) { %>
                    <p>
                     <a href = "#" class = "btn btn-danger" role = "button">
                        Remove Card
                     </a> 
                  </p>
                  <% } %>

                  
               </div>
            </div>

      <% }) %>
     
   
   
   </div>

</div>








<% include ../partials/footer %>
